<launch>
  <arg name="sdf" default="$(find exp_1_load_capacity)/models/iris_linear_actuator/iris_linear_actuator.sdf"/> 
            
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_iris_actuator" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model iris_linear_actuator" />

</launch>