<?xml version="1.0"?>
<model>
  <name>Iris with Load</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_load.sdf</sdf>

  <author>
   <name>Yuansheng Zhang, Lorenz Meier and Thomas Gubler</name>
   <email>bon_1900@yahoo.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
