<?xml version="1.0"?>
<model>
  <name>Experiment 1 Rear Actuator</name>
  <version>1.0</version>
  <sdf version='1.6'>rear_actuator.sdf</sdf>

  <author>
   <name>Yuansheng Zhang</name>
   <email>bon_1900@yahoo.com</email>
  </author>

  <description>
    This is a model of the rear actuator for experiments in MSc project.
  </description>
</model>
